.extra_content_section{margin:10px 0;padding:10px;border:1px solid #ccc;}
.remove_content.button{margin:10px 0 0;width:100%;box-sizing:border-box;text-align:center;}
#new_content_area .extra_content_section .mce-container.mce-panel.mce-tinymce{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}